
body {
    background-color: rgba(112, 107, 107, 0.822);
    margin: 1%;
  }

.best { 
    border: 4px solid rgba(228, 213, 7, 0.979);
    background-color: rgba(97, 29, 3, 0.979);
    padding: 8px;
    text-align: center;
    font-family: "Sofia", sans-serif;
    text-transform: uppercase;
    color: rgba(228, 213, 7, 0.979);
    font-size: 145%;
   } 

   h1 {
    text-transform: uppercase;
    color: rgba(241, 226, 13, 0.979);
    font-family: "Sofia", sans-serif;
   }

.main {
  padding-left: 2%;
  margin-top: 2%;
 
  text-align: left;
  border: 4px solid rgba(97, 29, 3, 0.979);
  
}

.cat {
  margin-top: 2%;
  color: rgba(228, 213, 7, 0.979);
  font-family: "Sofia", sans-serif;
  font-size: 125%;
  text-decoration: none;
  text-align: left;
  width: 50%;
  float: left;
  border: 4px solid rgba(97, 29, 3, 0.979);
}

.col{
  width: 50%;
  float: left;
}

.a{
  list-style-type: none;
  text-decoration: none;
  color: darkgoldenrod;
}

article {
  margin-top: 10px;
  float: left;
  color: rgba(20, 105, 17, 0.979);
  border: 4px solid rgba(97, 29, 3, 0.979);
  padding: 15px;
  font-size: 145%;
  font-family: "Sofia", sans-serif;
}

img {
  width:  400px;
  height: 400px;
  object-fit: cover;
}

.col1{
  width: 50%;
  float: left;
}

.col2 {
  text-align: center;
  width: 50%;
  float: right;
 }